<h1>Administrative Home Page</h1>

<div>
    <p>Things to do</p>
    <ul>
        <li>Link to edit recipes</li>
        <li>Link to delete recipes</li>
        <li>Link to edit Users</li>
        <li>Link to delete Users</li>
    </ul>
</div>