
@{
    Layout = null;
}

<h1>Welcome to Reginolds Recipe Repository!!</h1>
<p>Here is a place to find and store your favorite recipes.</p>
<p>See the list of dishes or login to see the recipes!</p>
<a href="/recipes">Recipes</a>