@model lab29_brian.Models.LoginViewModel

    @{
        Layout = "_LogedIn";
    }

<h1>Login Page</h1>
<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="UserName"></label>
    <input asp-for="UserName"/>
    <span asp-validation-for="UserName"></span><br/>
    
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    
    <label asp-for="RememberMe">
        <input type="checkbox" asp-for="RememberMe"/>
        @Html.DisplayNameFor(m => m.RememberMe)
    </label>
    
    <button type="submit">Login</button>
</form>