@model lab29_brian.Models.RegistrationViewModel

<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <h3>This is the sign up page</h3>
    <div asp-validation-summary="All"></div>
    
    <label asp-for="UserName"></label>
    <input asp-for="UserName"/>
    <span asp-validation-for="UserName"></span><br/>

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"/>
    <span asp-validation-for="FirstName"></span>
    
    <label asp-for="LastName"></label>
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span><br/>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span><br/>
    
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span><br/>
    
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword"/>
    <span asp-validation-for="ConfirmPassword"></span>
    
    <button type="submit">Register</button>

</form>